
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    header {
        height: 8rem;
    }

    header img {
        height: 5rem;
    }
    
    nav ul li a {padding: .6rem 1rem;}
    
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main section {
        margin: .5rem 0;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .cards section {
        flex-direction: column;
        margin: .5rem;
        padding: 1rem 0 0 0
    }

    .cards section:nth-of-type(1) {grid-row: 1/4;}
    .cards section:nth-of-type(2) {grid-row: 2/5;}
    .cards section:nth-of-type(3) {grid-row: 3/-1;}

    .cards section img {
        width: 100%;
    }
    
    .cards section:nth-of-type(even) {
        flex-direction: column;
    }

    footer, #contact, main {
        max-width: 70rem;
        margin: auto;
    }

} /*end large */