section {
    .info {
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr;
        height: 100%;
        .details { margin: auto 1rem; }
    }
}

footer {
    p:nth-of-type(1) { text-align: center; }
    p:nth-of-type(5) { text-align: center; }
}