body {
    font-size: 16px;
}

header div {
    img {
        height: 8rem;
    }
    div {
    width: 15rem;
    }
}

nav button {
    display: none;
}
nav ul {
    width: 27.75rem;
    margin: 0 auto;
    li {
        float: left;
        a {
            border: none;
            padding: .8rem 1rem;
        }
    }
}
nav ul.hide {display: block;}

section {
    height: 300px;
    .info {
        grid-template-rows: .5fr 1fr;
        .bigtitle {
            font-size: 3rem;
        }
    }
}

#wandc {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    #weather {
        text-align: right;
        #current {
            #currentimg {
                left: unset;
                right: 7rem;
            }
            div {
                left: unset;
                right: -2rem;
            }
        }
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}