body {
    font-size: 16px;
}

header div {
    img {
        height: 8rem;
    }
    div {
    width: 15rem;
    }
}

nav button {
    display: none;
}
nav ul {
    width: 27.75rem;
    margin: 0 auto;
    li {
        float: left;
        a {
            border: none;
            padding: .8rem 1rem;
        }
    }
}
nav ul.hide {display: block;}

section {
    height: 300px;
}

#weather {
    #forecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-bottom: 1.5rem;
        max-width: 30rem;
        margin: auto;
        h2 {
            grid-column: 1 / -1;
        }
        h3 {
            margin: 0;
        }
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}