body {
    background-color: $bodyBackground;
    color: $darkTextColor;
    font-family: $bodyFont;
    font-size: 14px;
    text-align: center;
    h1{
        margin: 0.67em auto;
    }
}

/*-----------------header------------------*/

header {
    background-color: $darkBrown;
    height: 10rem;
    display: flex;
    justify-content: center;
    div {
        display: flex;
        img {
            flex: .1;
            display: block;
            height: 6rem;
            margin: auto 0;
        }
        div {
            flex: .9;
            text-align: center;
            color: $lightTextColor;
            width: 12rem;
            margin: auto 0;
            flex-direction: column;
            text-shadow: 0 0 .3rem $darkTextColor, 0 0 .7rem $salmon;
            font-family: $headerFont;
            h1, h4 {
                margin: 0;
            }
        }
    }
}

button {
    font-size: 3rem;
    margin: 1rem .5rem;
    background-color: $salmon;
    border: none;
    padding: 1rem;
}

/*-------------------nav-------------------*/ 

nav {
    width: 100%;
    background-color: $midBlue;
    text-align: center;
    button {
        background-color: transparent;
        border: none;
        display: inline-block;
        margin: auto;
        font-size: 1.6rem;
        padding: .2rem 2%;
        color: $lightTextColor;
        width:50%
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: left;
        li {
            a {
                display: block;
                padding: .8rem 2%;
                text-decoration: none;
                font-family: $headerFont;
                color: $lightTextColor;
                border-top: 1px solid rgba(203,79,69,0.3);
            }
            a:hover {background-color: rgba(1,57,65,0.4)}
        }
        li.active a{
            background-color: rgba(0,30,34,0.2);
            font-weight: bold;
        }
    }
    ul.hide {display: none;}
}

/*-----------------------section---------------------------*/
.imagecont {
    max-width: 56rem;
    width:100%;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    color: $darkTextColor;
    margin-bottom: 1rem;
    .back {
        display: block;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .info {
        display: grid;
        position: relative;
        grid-template-rows: .3fr 1fr;
        width: 100%;
        text-align: center;
        .bigtitle {
            margin: auto;
            display: block;
            font-size: 2rem;
            box-shadow: 0 0 1rem 1rem $lightbgcolor;
            text-shadow: 0 0 1rem $lightTextColor;
            background-color: $lightbgcolor;
        }
        .details {
            display: grid;
            margin: 1rem;
            grid-template-columns: .5fr 1fr;
            box-shadow: 0 0 1rem 1rem $lightbgcolor;
            text-shadow: 0 0 .3rem $lightTextColor;
            background-color: $lightbgcolor;
            h3 { grid-column: 1 / -1; }
            p { margin: 0; }
            p:nth-of-type(odd) {
                text-align: right;
                margin-right: .5rem;
            }
            p:nth-of-type(even) {
                text-align: left;
                margin-left: .5rem;
            }
        }
    }
}

#wandc {
    display: grid;
    grid-template-rows: 10rem 1fr;
    background-color: $weatherBackground;
    color: $lightTextColor;
    height: auto;
    width: auto;
    max-width: 56rem;
    margin: 0 auto;
    text-align: left;
    h2 {text-shadow: 0 0 .3rem #001E22; margin-top: 0; }
    #weather {
        text-align: left;
        margin: 1rem 0 1rem 1rem;
        #current {
            position: relative;
            display: block;
            #currentimg {
                display: block;
                height: 4rem;
                position: absolute;
                left: .25rem;
            }
            div {
                position: absolute;
                left: 2.75rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                p {
                    margin: 0;
                }
                p:nth-of-type(even) { text-align: right; margin-right: .5rem;}
                p:nth-of-type(odd) { text-align: left; margin-left: .5rem;}
                p:nth-of-type(1) { 
                    text-align: center; 
                    grid-column: 1 / -1;
                    margin: 0;
                }
            }
        }
    }
}
#contactinfo {
    text-align: left;
    margin: 0 1rem 1rem 1rem;
    img {
        height: 1rem;
        margin-right: 1rem;
    }
    p {
        margin: 0;
    }
}

#crew {
    margin: .5rem;
    width: 100%;
    max-width: 56rem;
    margin: auto;
    color: $lightTextColor;
    .guidecont {
        display: flex;
        flex-direction: column;
        margin: 1rem .25rem;
        background-color: $weatherBackground;
        img {
            width: 200px;
            display: block;
            margin: 1rem auto 0 auto;
        }
        .data {
            margin: 1rem;
            display: grid;
            grid-template-columns: .5fr 1fr;
            grid-column-gap: 1rem;
            h2 {
                grid-column: 1 / -1;
                margin-top: 0;
            }
            p {margin: 0;}
            p:nth-of-type(odd) {
                text-align: right;
            }
            p:nth-of-type(even) {
                text-align: left;
            }
        }
    }
}

#contact {
    background-color: $weatherBackground;
    color: $lightTextColor;
    display: block;
    max-width: 56rem;
    margin: 1rem .25rem;
    display: grid;
    h2 {
        padding: 1rem 0;
        margin: 0 auto;
    }
    #map {
        width: 95%;
        height: 15rem;
        margin: 0 auto;
        display: block;
    }
}
#reserve {
    max-width: 56rem;
    margin: 1rem auto;
    background-color: $weatherBackground;
    color: $lightTextColor;
    h2 { padding-top: 1rem; }
    table {
        width: 95%;
        margin: 1rem auto;
    }
    table, th, td {
        border: 1px solid $lightTextColor;
        border-collapse: collapse;
    }
    caption {
        font-size: 2rem;
    }
}
form {
    padding:0 1rem 1rem 1rem;
    text-align: left;
    fieldset {
        margin: 2rem 0 0 0;
        border: 1px solid $bodyBackground;
        padding: .5rem 2%;
    }
    legend {
        margin: 0 1rem;
        padding: 0 .5rem;
    }
    label.txt {
        display:block;
        padding-top: 1rem;
        font-size: .8rem;
        input, select, textarea {
            display: block;
            font-size: 1rem;
            border: solid 1px $salmon;
            padding: .75rem;
            color: $darkTextColor;
            width: 100%;
            max-width: 20rem;
            background-color: $bodyBackground;
        }
        input::placeholder {
            color: $salmon;
        }
        input:required {
            border-left: red solid 6px;
        }
        input:required:valid {
            border-left: green solid 6px;
        }
    }
    input.submitBtn {
        border: none;
        background-color: $salmon;
        color: $darkTextColor;
        padding: .75rem 1.5rem;
        margin: 1rem auto;
        width: 100%;
        max-width: 20rem;
    }
}

/*----------------footer-----------------*/ 

footer {
    text-align: center;
    background-color: $midBlue;
    width:100%;
    max-width: 56rem;
    margin: auto;
    display:grid;
    padding: .5rem 0;
    color: $bodyBackground;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    p {
        margin: auto 0;
        padding: 0 .5rem;
    }
    p:nth-of-type(1) { text-align: right; }
    p:nth-of-type(2) { 
        border-right: solid $bodyBackground 1px; 
        height: 75%; 
        padding: 0; 
    }
    p:nth-of-type(3) { margin-bottom: .5rem; }
    p:nth-of-type(4) { 
        border-right: solid $bodyBackground 1px; 
        height: 75%; 
        padding: 0; 
    }
    p:nth-of-type(5) { text-align: left; }
    p:nth-of-type(6) { 
        grid-column: 1 / -1; 
        margin: 0 auto;
        padding-top: .25rem;
        border-top: solid $bodyBackground 1px;
    }
    a {
        color: $lightTextColor;
    }
}