$lightTextColor: #8CBCC2;
$lightbgcolor: rgba(140,188,197,.75);
$darkTextColor: #001E22;
$bodyBackground: #FFBCB7;
$salmon: #CB4F45;
$darkBrown: #370400;
$midBlue: #0B515B;
$midBrown: #6A0800;
$weatherBackground: #013941;
$headerFont: Raleway, sans-serif;
$bodyFont: Cabin, sans-serif;