$lightTextColor: #8CBCC2;
$darkTextColor: #001E22;
$bodyBackground: #FFBCB7;
$salmon: #CB4F45;
$darkBrown: #370400;
$midBlue: #0B515B;
$midBrown: #941A10;
$headerFont: Raleway, sans-serif;
$bodyFont: Cabin, sans-serif;