
@media only screen and (min-width: 42rem) {

    body {
        font-size: 16px;
    }
    
    nav button {display: none;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul.hide {display: block;}

    img.authorpic {
        width:40%;
    }

    body > section {
        flex-direction: row;
    }
    #contact > div {
        margin-right: .4rem;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

} /*end medium */